<div class="full-container">
    <h1>Sobre mim</h1>
    <div class="about-container">

        <p>Olá! Me chamo Lais Borges, sou artista por formação pela Universidade Federal de Uberlândia. Tenho 27 anos,
            sou curiosa, criativa, observadora, estudiosa, apaixonada por animais, leitura, cinema e tantas outras
            coisas mais.<br>
            No final da minha gradução em Artes Visuais, no início de 2023, me despertou um interesse pela área de
            tecnologia. Eu já gostava bastante da área de Design, desde a parte gráfica até em relação a produtos e
            espaços. Pesquisando mais sobre e conversando com amigos, resolvi que essa área seria onde eu gostaria de
            trilhar minha carreira. Enxerguei no desenvolvimento um ponto de convergência de meus interesses e
            habilidades: um trabalho organizado que envolve criação.
        </p>
        <!-- <img src="assets/model-8881740_1280.jpg" alt="" style="width: 300px; height: 300px;"> -->
    </div>
    <h1>Experiência Profissional</h1>
    <div class="about-container">
        <ul class="study">
            <li class="study_li">Analista de Sistemas, Kyros Tecnologia, 2023 - presente</li>
            <p>Curso Desenvolvedor Full-stack Python pela Escola Britânica de Artes Criativas & Tecnologia (EBAC).</p>
        </ul>
    </div>
    <h1>Estudos</h1>
    <div class="about-container">
        <ul class="study">
            <li class="study_li">Curso Full-stack Python</li>
            <p>Curso Desenvolvedor Full-stack Python pela Escola Britânica de Artes Criativas & Tecnologia (EBAC).</p>
        </ul>
        <ul class="study">
            <li class="study_li">Bacharel em Artes Visuais, 2018 - 2023</li>
            <p>Graduação em Artes Visuais pela Universidade de Uberlândia (UFU), Uberlândia, Minas Gerais, Brasil.</p>
        </ul>
    </div>
    <h1>Skills</h1>
    <div class="about-container">
        <ul class="study">
            <li class="study_li">Curso Full-stack Python</li>
            <p>Curso Desenvolvedor Full-stack Python pela Escola Britânica de Artes Criativas & Tecnologia (EBAC).</p>
        </ul>
        <ul class="study">
            <li class="study_li">Bacharel em Artes Visuais, 2018 - 2023</li>
            <p>Graduação em Artes Visuais pela Universidade de Uberlândia (UFU), Uberlândia, Minas Gerais, Brasil.</p>
        </ul>

    </div>

</div>