<div class="topnav" id="myLinks" [ngStyle]="{ display: isLinksVisible ? 'block' : 'none'}">
    <nav class="navbar bg-light navbar-light">

        <ul class="navbar-nav flex-column text-md-start">
            <div class="links theme-toggle">
                <small><img alt="" [src]="imageSrc"></small>
                <label class="switch">
                    <input type="checkbox" (click)="toggle()">
                    <!-- <button type="button" (click)="toggle"></button> -->
                    <span class="slider round"></span>
                </label>
                <small><img alt="" [src]="moonSrc"></small>
            </div>
            <div class="about">
                <li class="nav-item h-center">
                    <img src="assets/yo.png" alt="Lais Borges" class="p-photo rounded">
                </li>
                <li class="nav-item h-center">
                    <a class="navbar-brand" href="#">LAIS BORGES, 27</a>
                </li>
                <li class="nav-item">
                    <span>👩‍💻 Desenvolvedora Front-end</span>
                </li>
                <li class="nav-item">
                    <span>🌎📍 Uberlândia, MG, Brasil</span>
                </li>
                <div class="links links__small">
                    <span class="links_link">
                        <a href="https://www.linkedin.com/in/laiscborges/" target="_blank"><img [src]="linkedinSrc"
                                alt="" class="link_img"></a>
                    </span>
                    <span class="links_link">
                        <a href="https://github.com/borgeslais" target="_blank"><img [src]="githubSrc" alt=""
                                class="link_img"></a>
                    </span>
                </div>


                <!-- <button (click)="toggleTheme()">Toggle Theme</button> -->
            </div>
            <div class="tech">
                <li class="nav-item mb-2">
                    <a class="nav-link sobre" routerLink="" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Sobre mim</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link tech-item" routerLink="html" routerLinkActive="active">HTML, CSS,
                        JavaScript</a>
                </li>
            </div>
        </ul>
    </nav>
    
</div>
<a href="javascript:void(0);" class="icon" (click)="toggleLinks()" style="color: #D2CFC6">
    <i class="fa fa-bars fa-2x"></i>
</a>


<div class="container d-flex flex-column flex-md-row">
    <nav class="navbar bg-light navbar-light web-nav">

        <ul class="navbar-nav flex-column text-md-start">
            <div class="links theme-toggle">
                <small><img alt="" [src]="imageSrc"></small>
                <label class="switch">
                    <input type="checkbox" (click)="toggle()">
                    <!-- <button type="button" (click)="toggle"></button> -->
                    <span class="slider round"></span>
                </label>
                <small><img alt="" [src]="moonSrc"></small>
            </div>
            <div class="about">
                <li class="nav-item h-center">
                    <img src="assets/yo.png" alt="Lais Borges" class="p-photo rounded">
                </li>
                <li class="nav-item h-center">
                    <a class="navbar-brand" href="#">LAIS BORGES, 27</a>
                </li>
                <li class="nav-item">
                    <span>👩‍💻 Desenvolvedora Front-end</span>
                </li>
                <li class="nav-item">
                    <span>🌎📍 Uberlândia, MG, Brasil</span>
                </li>
                <div class="links links__small">
                    <span class="links_link">
                        <a href="https://www.linkedin.com/in/laiscborges/" target="_blank"><img [src]="linkedinSrc"
                                alt="" class="link_img"></a>
                    </span>
                    <span class="links_link">
                        <a href="https://github.com/borgeslais" target="_blank"><img [src]="githubSrc" alt=""
                                class="link_img"></a>
                    </span>
                </div>


                <!-- <button (click)="toggleTheme()">Toggle Theme</button> -->
            </div>
            <div class="tech">
                <li class="nav-item mb-2">
                    <a class="nav-link sobre" routerLink="" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Sobre mim</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link tech-item" routerLink="html" routerLinkActive="active">HTML, CSS,
                        JavaScript</a>
                </li>
                <!-- <li class="nav-item mb-2">
                    <a class="nav-link tech-item" href="#">Angular</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link tech-item" href="#">Vue JS</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link tech-item" href="#">React</a>
                </li> -->
            </div>
        </ul>
    </nav>

    <main class="main-content">
        <router-outlet></router-outlet>
    </main>

</div>