<div class="full-container">
    <div class="about-container flex">
        <span class="project"><a href="https://workplayer.com.br/" class="project" target="_blank"><img
                    src="assets/workplayer.png" alt="">
                <div class="overlay">
                    <p>Ver projeto</p>
                </div>
            </a></span>
        <div>
            <h2 class="project__h">Website WorkPlayer</h2>
            <p class="project__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro magnam necessitatibus
                quidem quam libero.
                Dolorem, eligendi sequi, sunt dolore fugit, accusamus earum enim neque nulla assumenda error. Iste, nobis
                nemo?
            </p>
        </div>
    </div>
    <div class="about-container flex">
        <span class="project"><a href="https://patinhas-one.vercel.app/" class="project" target="_blank"><img
                    src="assets/patinhas.png" alt="">
                <div class="overlay">
                    <p>Ver projeto</p>
                </div>
            </a></span>
        <p class="project__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro magnam necessitatibus quidem
            quam libero.
            Dolorem, eligendi sequi, sunt dolore fugit, accusamus earum enim neque nulla assumenda error. Iste, nobis nemo?
        </p>
    </div>
    <div class="about-container flex">
        <span class="project"><a href="https://anatomy-lp.vercel.app/" class="project" target="_blank"><img
                    src="assets/anatomy.png" alt="">
                <div class="overlay">
                    <p>Ver projeto</p>
                </div>
            </a></span>
        <p class="project__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro magnam necessitatibus quidem
            quam libero.
            Dolorem, eligendi sequi, sunt dolore fugit, accusamus earum enim neque nulla assumenda error. Iste, nobis nemo?
        </p>
    </div>
    <div class="about-container flex">
        <span class="project"><a href="https://agenda-contatos-mu.vercel.app/" class="project" target="_blank"><img
                    src="assets/agenda.png" alt="">
                <div class="overlay">
                    <p>Ver projeto</p>
                </div>
            </a></span>
        <p class="project__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro magnam necessitatibus quidem
            quam libero.
            Dolorem, eligendi sequi, sunt dolore fugit, accusamus earum enim neque nulla assumenda error. Iste, nobis nemo?
        </p>
    </div>
    <div class="about-container flex">
        <span class="project"><a href="https://dice-roller-umber.vercel.app/" class="project" target="_blank"><img
                    src="assets/dice.png" alt="">
                <div class="overlay">
                    <p>Ver projeto</p>
                </div>
            </a></span>
        <p class="project__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro magnam necessitatibus quidem
            quam libero.
            Dolorem, eligendi sequi, sunt dolore fugit, accusamus earum enim neque nulla assumenda error. Iste, nobis nemo?
        </p>
    </div>
</div>